@import "vars"

/*==========  Desktop First  ==========*/


/* Large Devices, Wide Screens */
@media only screen and (max-width: 1600px)
  .indexPreview
    .rightSide
      .rightSideContent, .indexPreviewHeader,.rightSideNavigation
        margin-left: 40px
        margin-right: 40px
      .linkItems
        margin-left: 25px
        margin-right: 25px

/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px)
  .indexPreview
    .rightSide
      .linkItems
        margin-bottom: 30px
        .items
          .link
            margin-bottom: 0
  .breadcrumbs
    margin-top: 20px
    margin-bottom: 0px
    ul
      li
        a
          font-size: 14px
  .contactsItems
    margin-top: 1rem
    flex-wrap: wrap
    flex-direction: column
    align-items: flex-start
    span
      font-size: 16px
    .phoneItemWrapper
      margin-left: 5px
      img
        height: auto
        width: 15px
    .mailItemWrapper
      margin-top: 20px
      img
        height: auto
        width: 26px
        margin-right: 14px
    .addressItemWrapper
      margin-top: 20px
      margin-left: 4px
      img
        height: auto
        width: 18px
  .contactsMap
    margin-top: 38px
  .effectiveService
    .effectiveServiceItem
      padding: 20px 20px 10px 20px
      &.asColumn
        //min-height: auto
      &.asRow
        flex-direction: column
        .asRowContent
          margin: 0
  .monitoringsStages
    height: 250px
/* Medium Devices, Desktops */
@media only screen and (max-width: 992px)
  .header
    .navBar
      .navBarContainer
        height: 46px
        justify-content: space-between
        .logo
          img
            height: 28px
        .callback
          margin-left: auto
          margin-right: 35px
        .btnMnu
          display: flex
        .navBarMenu
          display: none
  .indexPreview
    flex-wrap: wrap
    height: 100vh
    overflow: auto
    .rightSide
      height: auto
      .indexPreviewHeader
        display: none
      .rightSideContent, .indexPreviewHeader, .rightSideNavigation
        margin-left: 15px
        margin-right: 15px
      .rightSideTitle
        left: 0
        margin-left: 15px
        margin-top: 30px
        margin-bottom: 6px
        color: #000
      .rightSideContent
        margin-top: 6px
        margin-bottom: 30px
      .divider
        margin-top: 21px
        margin-bottom: 21px
        .redirect
          margin-right: 0
          &:after
            display: none
          &:before
            bottom: 0
          a
            display: none
      .linkItems
        justify-content: space-between
        margin-left: 8px
        margin-right: 8px
        .items
          margin: 0 7px
  .menu
    .menuOverlay
      display: none
    .menuContainer
      display: flex
      justify-content: center
      align-items: center
      ul
        margin: 0
        li
          margin-top: 40px
          margin-bottom: 40px
  .indexPreview
    .leftSide
      height: auto
      img
        height: auto
        width: auto
      .lgDisplay
        display: none
      .mobDisplay
        height: 100%
        display: contents
        img
          width: 100%
          height: 100%
  .realEstateItemsSection
    padding-bottom: 18px
  .effectiveService
    padding-top: 24px
    padding-bottom: 14px
    h3
      margin-bottom: 24px
    .effectiveServiceItem
      &.asColumn
        min-height: auto
  .weOfferSection
    padding-top: 24px
    padding-bottom: 42px
    .weOffer
      overflow: hidden
      .offerItems
        margin: 5px -15px 0 -15px
        .offerItem
          span
            margin-top: 12px
            font-size: 16px
  .transitionHomeSection
    padding-bottom: 32px
    .transitionHome
      padding-top: 130px
      .transitionHomeImage
        margin-bottom: 10px
      .transitionHomeContentWrap
        display: flex
        flex-direction: column
        height: 100%
        justify-content: center
  .whyUsSection
    .whyUs
      padding-top: 20px
      padding-bottom: 0
      h2
        margin-bottom: 28px
        font-family: $font-semibold
      .whyUsItems
        margin: 0px -15px 0 -15px
  .vendorsItemsSection
    margin-top: 20px
    .vendorsItems
      .vendorsItem
        margin-left: 5px
        margin-right: 5px
        margin-bottom: 10px
  .footer
    margin-top: 30px

/* Small Devices, Tablets */
@media only screen and (max-width: 768px)
  .menu
    .menuOverlay
      display: none
    .menuContainer
      display: inline-block
      ul
        margin: 50px 0 0 50px
        li
          margin-top: 40px
          margin-bottom: 40px
  .monitoringsStages
    padding-top: 30px
    height: 130px
  .transitionHomeSection
    padding-bottom: 32px
    .transitionHome
      padding-top: 120px

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px)
  .monitoringsStages
    padding-top: 30px
    height: 60px
  .transitionHomeSection
    .transitionHome
      padding-top: 150px


/* Custom, iPhone Retina */
@media only screen and (max-width: 320px)
/**/


/*==========  Mobile First  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width: 320px)
/**/


/* Extra Small Devices, Phones */
@media only screen and (min-width: 480px)
/**/


/* Small Devices, Tablets */
@media only screen and (min-width: 768px)
/**/


/* Medium Devices, Desktops */
@media only screen and (min-width: 992px)
/**/


/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px)
/**/

