@import "vars"
@import "fonts"
@import "libs"

*
	-webkit-box-sizing: border-box
	-moz-box-sizing: border-box
	box-sizing: border-box

	&:before, &:after
		-webkit-box-sizing: border-box
		-moz-box-sizing: border-box
		box-sizing: border-box

*::-webkit-input-placeholder
	color: #B7B7B7
	opacity: 1

*:-moz-placeholder
	color: #B7B7B7
	opacity: 1

*::-moz-placeholder
	color: #B7B7B7
	opacity: 1

*:-ms-input-placeholder
	color: #B7B7B7
	opacity: 1


//.my-mfp-zoom-in Animation
.my-mfp-zoom-in
	.portfolio-popup,
	.form-callback
		opacity: 0
		transform: scale(0.95)
	&.mfp-ready .portfolio-popup,
	&.mfp-ready .form-callback
		opacity: 1
		transform: scale(1)
	&.mfp-removing .portfolio-popup,
	&.mfp-removing .form-callback
		transform: scale(0.95)
		opacity: 0
	&.mfp-bg
		opacity: 0
		transition: opacity 0.3s ease-out
	&.mfp-ready.mfp-bg
		opacity: 0.6
	&.mfp-removing.mfp-bg
		opacity: 0
*
	transition: filter .25s ease
.mfp-wrap ~ *
	filter: blur(2px)

//.my-mfp-zoom-in Animation END





body input:focus:required:invalid,
body textarea:focus:required:invalid
	color: #B7B7B7

body input:required:valid,
body textarea:required:valid
	color: #B7B7B7

html, body
	height: 100%
	font-size: 18px
	line-height: 1.5
body
	display: flex
	flex-direction: column
	height: 100%
	min-width: 320px
	position: relative
	font-family: $default-font
	font-weight: 400
	overflow-x: hidden
	padding: 0
	margin: 0
	color: $accent

a
	margin: 0
	padding: 0
p
	margin: 1rem 0
	padding: 0
	line-height: 1.4rem
	@media only screen and (max-width : $sm)
		font-size:  16px
		line-height: 1.3rem

.content
	ul
		list-style-type: none
		li
			text-indent: -.9em
			line-height: 1.3rem
			margin: 14px 0
			&:before
				background-color: $second-color
				border-radius: 50%
				content: ""
				display: inline-block
				margin-right: 10px
				margin-bottom: 2px
				height: 7px
				width: 7px


.h1
	font-size: 5.3rem
	Line-height: 1
	text-transform: uppercase
	font-style: normal
	font-family: $font-semibold
	@media only screen and (max-width : 1200px)
		font-size: 7.9vw
	@media only screen and (max-width : $lg)
		font-size: 5.9vw
	@media only screen and (max-width : $md)
		font-size: 5.9vw
	@media only screen and (max-width : $sm)
		font-size:  24px
h2
	font-size: 3rem
	Line-height: 3.11rem
	font-style: normal
	font-family: $font-bold
	margin-bottom: 2rem
	margin-top: 0.5rem
	@media only screen and (max-width : 1200px)
		font-size: 3.9vw
		Line-height: 2.5rem
	@media only screen and (max-width : $lg)
		font-size: 3.1vw
		Line-height: 2rem
	@media only screen and (max-width : $md)
		font-size:  24px
		Line-height: 1.5rem
h3
	font-size: 2.22rem
	Line-height: 2.7rem
	font-style: normal
	font-family: $font-semibold
	margin-bottom: 2rem
	margin-top: 0.5rem
	@media only screen and (max-width : $md)
		font-size: 5vw
		margin-bottom: 1.3rem
		Line-height: 2.1rem
		margin-top: 0.1rem
	@media only screen and (max-width : $sm)
		font-size:  24px
		margin-bottom: 1.3rem
		Line-height: 1.63rem
		margin-top: 0.5rem
h4
	font-size: 1.66rem
	font-style: normal
	font-family: $font-semibold
	margin-bottom: 2rem
	margin-top: 1rem
	@media only screen and (max-width : $sm)
		font-size:  24px
		margin-bottom: 1.3rem
		Line-height: 1.63rem
		margin-top: 0.5rem
h5
	font-size: 1.22rem
	font-family: $font-bold
	font-style: normal

.img-responsive
	display: block
	max-width: 100%
	height: auto

.text-center
	text-align: center

::selection
	background-color: $accent
	color: #fff


.main_wrapper
	flex: 1 0 auto

.btn
	border: 2px solid $text
	border-radius: 45px
	display: flex
	flex-direction: row
	justify-content: center
	align-items: center
	padding: 11px 26px 11px 26px
	line-height: 1.1rem
	transition: .25s all
	color: $text
	font-size: 1rem
	font-weight: 600
	width: fit-content
	font-family: $font-bold
	@media only screen and (max-width :  $sm)
		font-size: .68rem
		padding: 8px 23px 8px 24px
	&.primary
		border: 2px solid $second-color
		@media only screen and (max-width :  $sm)
			border: 1px solid $second-color
		span
			margin-left: 11px
			display: flex
			@media only screen and (max-width :  $sm)
				width: 12px
			svg
				fill: $text
		&:hover
			text-decoration: none
			background-color: $second-color
			color: #fff
			svg
				fill: #fff

.btnMnu
	top: 0px
	width: auto
	height: auto
	display: flex
	flex-direction: column
	align-items: center
	justify-content: center
	cursor: pointer
	position: relative
	z-index: 99
.btnRow
	height: 2px
	width: 38px
	margin: 6px 0
	background-color: $text
	position: relative
	-webkit-transition: all .5s
	-o-transition: all .5s
	transition: all .5s
	@media only screen and (max-width :  $lg)
		width: 28px
		margin: 3px 0
.btnMnu.active .btnRow
	background-color: #fff
.btnMnu.active .btnRow
	&:first-child
		-webkit-transform: rotate(-135deg)
		-ms-transform: rotate(-135deg)
		-o-transform: rotate(-135deg)
		transform: rotate(-135deg)
		top: 10px
	&:last-child
		-webkit-transform: rotate(-225deg)
		-ms-transform: rotate(-225deg)
		-o-transform: rotate(-225deg)
		transform: rotate(-225deg)
		top: -17px
		@media only screen and (max-width :  $lg)
			top: -6px
	&:nth-child(2)
		opacity: 0


.callback
	a
		display: flex
		align-items: center
		text-decoration: none
		span
			margin-left: 18px
			color: $text
			white-space: nowrap
			font-size: 1rem
			font-family: $default-font
			font-weight: normal

.menu
	position: absolute
	justify-content: space-between
	width: 100%
	z-index: 50
	display: none
	&.active
		display: flex
	.menuOverlay
		width: 90%
		background: rgba(0,0,0, 0.4)
		transition: all 500ms ease-in
		opacity: 0
		&.isActive
			transition: all 300ms ease-in
			opacity: 1
	.menuContainer
		background-color: $accent
		width: 100%
		height: 100vh
		transition: all 200ms ease-in
		transform: translateX(1300px)
		&.isActive
			transition: all 200ms ease-in
			transform: translateX(0px)
		ul
			margin: 242px 0 0 257px
			padding: 0
			li
				list-style: none
				margin-top: 50px
				margin-bottom: 50px
				a
					color: #ACBCCD
					transition: .25s ease
					font-size: 1.22rem
					text-decoration: none
					&:hover
						color: #fff
						text-decoration: none

.main_wrapper
	margin-top: 82px
.header
	box-shadow: 0px 4px 10px rgba(13, 50, 73, 0.05)
	width: 100%
	position: fixed
	z-index: 40
	top: 0
	background-color: #fff
	.navBar
		margin: 0 15px
		.navBarContainer
			background: #fff
			height: 82px
			display: flex
			align-items: center
			max-width: 1530px
			margin: 0 auto
			.logo
				img
					height: 42px
			.navBarMenu
				margin-left: auto
				ul
					padding: 0
					margin: 0
					li
						list-style: none
						display: inline-block
						margin: 0 1.14rem
						@media only screen and (max-width :  1320px)
							margin: 0 .6rem
						&:last-child
							margin-right: 0
						a
							line-height: 1.22rem
							color: $text
							font-weight: 400
							transition: .25s ease
							text-decoration: none
							&:hover
								text-decoration: none
								color: $second-color
							@media only screen and (max-width :  1320px)
								font-size: 14px
			.callback
				margin-left: 69px
				@media only screen and (max-width :  1320px)
					margin-left: 30px
				img
					@media only screen and (max-width :  1320px)
						height: 26px
				span
					margin-left: 14px
					@media only screen and (max-width :  1320px)
						font-size: 14px
					@media only screen and (max-width :  $lg)
						display: none
			.btnMnu
				display: none


.breadcrumbs
	margin-top: 47px
	margin-bottom: 30px
	ul
		padding: 0
		margin: 0
		li
			display: inline-block
			list-style: none

			a
				text-decoration: none
				color: #7F8B98
				transition: .25s ease
				&:hover
					color: $text
				&:after
					content: ''
					background: url('../img/arrow_small.svg')
					display: inline-block
					width: 9px
					height: 9px
					margin-left: 9px
					margin-right: 7px
			&:last-child
				a
					pointer-events: none
					&:hover
						color: #7F8B98
					&:after
						content: ''
						background: none


.indexPreview
	display: flex
	flex-direction: row
	justify-content: space-between
	height: 100%
	position: relative
	overflow: hidden
	.leftSide
		width: 90%
		background-color: #90c8fa
		height: 100vh
		overflow: hidden
		flex-grow: 1
		img
			max-width: 100%
			height: 100vh
			width: 100vw
			object-fit: cover
		.mobDisplay
			display: none
	.rightSide
		display: flex
		flex-direction: column
		justify-content: space-between
		width: 100%
		background-color: #fff
		height: 100vh
		flex-grow: 1
		position: relative
		.indexPreviewHeader
			display: flex
			justify-content: space-between
			align-items: center
			width: auto
			height: 62px
			margin:
				top: 59px
				left: 66px
				right: 195px
				bottom: 3px
			.logo
				margin-right: 40px
			.callback
				margin:
					right: 20px
					left: auto
				a
					margin-right: 47px
					@media only screen and (max-width :  1300px)
						margin-right: 20px
					span
						@media only screen and (max-width :  1300px)
							display: none
		.rightSideTitle
			position: relative
			left: -99px
			color: $text
			top: 5px
		.rightSideContent
			display: flex
			font-size: 1.1rem
			color: $text
			margin-left: 66px
			margin-right: 195px
			margin-bottom: 5px
			.rightSideDescription
				min-height: 90px
				span
					margin: 0
				@media only screen and (max-width : $md)
					font-size: 1.1rem
					line-height: 1.4rem
				@media only screen and (max-width : $sm)
					font-size:  1rem
					line-height: 1.2rem

		.rightSideNavigation
			position: relative
			margin-left: 66px
		.divider
			position: relative
			display: flex
			width: 100%
			justify-content: flex-end
			.redirect
				margin-right: 153px
				display: flex
				a
					z-index: 2
					svg
						path, circle
							transition: .25s ease
					&:hover
						svg
							path
								fill: $text
							circle
								stroke: $text
				&:after
					content: ""
					position: relative
					bottom: 0
					left: -42px
					right: 0
					background-color: #fff
					border-radius: 50%
					width: 42px
					height: 42px
					z-index: 1
				&:before
					content: ""
					position: absolute
					bottom: 20px
					left: 0
					right: 0
					border-top: 1px solid #B7C7D1
		.linkItems
			display: flex
			margin-left: 51px
			.items
				margin: 0 15px
				> *
					color: $text
					&:hover
						text-decoration: none
				.link
					max-width: 260px
					max-height: 179px
					border-radius: 10px
					background-color: orange
					margin-bottom: 20px
					overflow: hidden
					&:hover
						img
							transition: .5s all
							transform: scale(1.12)
				span
					font-size: 1rem
					font-family: $font-bold
					@media only screen and (max-width : $xl)
						font-size:  .8rem
					@media only screen and (max-width : $sm)
						font-size:  .6rem


.bottomLine
	display: flex
	.leftLine
		width: 100%
		background: #0D3249
		height: 7px
	.rightLine
		width: 50%
		height: 7px
		background: #E14E3D
		flex-shrink: 2

.hearerImage
	position: relative
	display: flex
	img
		max-height: 462px
		object-fit: cover
		width: 100%
	.headerContent
		width: 100%
		z-index: 22
		position: absolute
		top: 35px
		right: 0
		bottom: 0
		left: 0
		display: flex
		align-items: center
		.headerTitle
			color: #fff
			padding-right: 65px

.slick-track
	.slick-slide
		overflow: hidden

.bg-color
	background-color: #F7F9FA

//Real estate START
.slick-dotted.slick-slider
	margin-bottom: 0
	box-sizing: border-box
.realEstateItemsSection
	padding-bottom: 70px
.realEstateItem
	.realEstateItemImage
		position: relative
		.slick-dots
			bottom: 10px
			display: none!important
			transition: .25s ease
			li
				margin: 0 8px
				&:before
					background-color: transparent
				button
					width: 12px
					height: 12px
					border-radius: 50%
					border: 2px solid #FFFFFF
					box-sizing: border-box
					padding: 0
					&:before
						display: none
						color: transparent
				&.slick-active
					button
						background-color: #fff

.realEstateItems
	a
		text-decoration: none
		color: #000
	.realEstateItem
		overflow: hidden
		border-radius: 10px
		box-shadow: 0px 4px 10px rgba(35, 79, 106, 0.05)
		transition: .25s ease
		margin-bottom: 30px
		//margin-top: 15px
		.realEstateItemImage
			max-height: 283px
			overflow: hidden
			img
				transition: .25s ease
				object-fit: cover
				width: 100%
				height: 283px
				overflow: hidden
		.realEstateItemTitle
			display: flex
			align-items: center
			height: 102px
			width: 100%
			background-color: #fff
			padding: 0 20px
			span
				transition: .25s ease
				font-size: 1.11rem
				font-family: $font-semibold
				@media only screen and (max-width : 1200px)
					font-size: .9rem
				@media only screen and (max-width : $sm)
					font-size: 1.11rem
		&:hover
			box-shadow: 0px 4px 20px rgba(35, 79, 106, 0.2)
			.realEstateItemImage
				.slick-dots
					display: block!important
				img
					&.slick-current
						transform: scale(1.1)
			.realEstateItemTitle
				span
					color: $second-color

.effectiveService
	padding-top: 56px
	padding-bottom: 72px
	h3
		margin-bottom: 60px
	.effectiveServiceItem
		border: 1px solid #DCDCDC
		border-radius: 10px
		display: flex
		margin-bottom: 30px
		padding: 40px 70px 0px 40px
		img
			width: 149px
			min-height: 117px
			margin-bottom: 36px
		.effectiveServiceContent
			p
				font-size: .9rem
				line-height: 1.3rem
			ul
				padding-left: 1rem
				li
					font-size: .9rem

		&.asColumn
			min-height: 100%
			flex-direction: column
		&.asRow
			display: flex
			.asRowContent
				margin-left: 38px

.weOfferSection
	padding-top: 56px
	padding-bottom: 72px
	.weOffer
		overflow: hidden
		.offerItems
			margin: 10px -15px 0 -15px
			.offerItem
				display: flex
				flex-direction: column
				margin: 0 15px
				.offerItemImage

					border-radius: 10px
					overflow: hidden
					img
						width: 100%
						height: 210px
						object-fit: cover
				span
					margin-top: 20px
					color: $text
					font-family: $font-semibold
					font-size: 1rem
					line-height: 1.3rem

.monitoringsStages
	position: relative
	height: 370px
	padding-top: 80px

.transitionHomeSection
	padding-bottom: 80px
	.transitionHome
		padding-top: 24%
		.transitionHomeImage
			display: flex
			width: 100%
			justify-content: center
		.transitionHomeContentWrap
			display: flex
			flex-direction: column
			height: 100%
			justify-content: center

.whyUsSection
	overflow: hidden
	.whyUs
		padding-top: 60px
		padding-bottom: 20px
		h2
			font-family: $font-semibold
		.whyUsItems
			margin: 20px -15px 0 -15px
			.whyUsItem
				margin: 0 15px
				.whyUsItemImage
					display: flex
					height: 87px
//Real estate END

//RealEstate Single page START
.realEstateBigPreview
	width: 100%
	max-height: 647px!important
	border-radius: 10px
	overflow: hidden
	img
		object-fit: cover
		height: 100%
		width: 100%
.realEstatePreviewList
	margin-top: 30px
	margin-bottom: 60px
	.previewItem
		border: 2px solid transparent
		margin: 0 20px
		cursor: pointer
		border-radius: 10px
		overflow: hidden
		max-width: 158px!important
		height: 101px
		img
			object-fit: cover
			height: 100%
			width: 100%
		&:first-child, &:last-child
			margin:	0
		&.slick-current
			border: 2px solid $second-color
	.slick-list
		padding: 0!important
		.slick-track
			margin: 0


//RealEstate Single page END




//IT Solutions START
.vendorsItemsSection
	.vendorsItems
		//display: flex
		//flex-direction: row
		//justify-content: flex-start
		//margin: 0 -15px
		//flex-wrap: wrap
		.vendorsItem
			margin-bottom: 50px
			//margin-left: 5px
			//margin-right: 5px
			//flex-basis: auto
			//
			//padding: 40px
			background-color: rgba(196, 196, 196, .2)
			display: flex
			align-items: center
			justify-content: center
			height: 188px
//IT Solutions END

// Contacts page START
.contactsItems
	margin-top: 3.22rem
	display: flex
	flex-direction: row
	align-items: center
	>
		*
			min-width: 285px
			display: flex
			align-items: center
	img
		margin-right: 22px
	a
		text-decoration: none
		color: $text
	.phoneItemWrapper
		img
			height: auto
			width: 26px

.contactsMap
	margin-top: 46px
	#map
		height: 558px
		width: 100%
		background: #000
		border-radius: 10px
// Contacts page END

.footer
	margin-top: 70px
	hr
		background: $text
		margin-bottom: 56px
	.footerContent
		margin: 0 15px 53px 15px
		.footerContentWrapper
			display: flex
			justify-content: space-between
			max-width: 1530px
			margin: 0 auto
			.footerPowered
				flex-basis: 390px
				display: flex
				flex-direction: column
				justify-content: space-between
				span
					margin-top: 11px
					font-family: $font-semibold
					color: $text
					span
						font-family: $default-font
				.development
					margin-bottom: 9px
					.developmentContent
						a
							text-decoration: none
							color: #3C6782
							transition: .25s ease
							&:hover
								color: $text
			.footerNav
				flex-basis: 620px
				padding-left: 27px
				ul
					display: flex
					flex-direction: column
					flex-wrap: wrap
					height: 10em
					padding: 0
					margin: 0
					li
						list-style: none
						margin: 9px 0
						display: flex
						&:last-child
							margin-bottom: 0
						&:nth-child(3)
							margin-bottom: 0
							flex-basis: 3em
						//&:nth-child(n+4)
						//	padding-left: 198px
						a
							text-decoration: none
							color: $text
							transition: .25s ease
							&:hover
								color: $second-color
			.footerContacts
				display: flex
				justify-content: flex-end
				.footerContactsWrapper
					display: flex
					flex-direction: column
					padding-left: 66px
					flex-basis: 520px
					.phone
						margin-top: 10px
						a
							text-decoration: none
							color: $text
							font-family: $font-semibold
							font-size: 1.11rem
					.address
						margin-top: 13px
	.bottomLine
		.leftLine
			width: 10.7%
			background: #2C3C4D
		.rightLine
			width: 100%






@import "media" // Всегда в конце




































@import "media" // Всегда в конце
